/*========= cabecera ===========*/
.navbar{
    margin:0 !important;
    border-radius: 0!important;
}
#cabecera{
    height: 415px;
    background-color: #00b3ee;
    background: url("../images/cabecera.jpg");
    background-position: 0 50%;
}
/*========= action ===========*/
#action{
    background-color: #3c3c3c;
    color: white;
    padding: 10px 0;
    height: 66px;
}
/*========= apartados central ===========*/
#central{
    padding: 35px 0;
}
/*========= hom2-opendata div ===========*/
#info-openData {
    padding: 30px 0;
    background-color: #ECECEC;
}
/*========= home-tecnologias div ===========*/
#info-tecnologias {
    padding: 30px 0;
    background-color: white;
    background: url("../images/3.png");
    background-position: 0 50%;
}
.col-md-2.elemento img {
    max-width: 100%;
    height: 150px;
}

.col-md-2.elemento {
    background-color: #6FBFCD;
    text-align: center;
    padding: 25px;
    border-radius: 9px;
    margin: 20px 15px 0;
}



/*========= footer ===========*/
#footer{
    padding: 15px 0;
    background-color: #3c3c3c;
    color: white;
}

/*========= GLOBAL ===========*/
td button {
    float: left;
    border-radius: 0 !important;
}

.contenido-central {
    float: left;
    padding-left: 20px;
    position: relative;
    display: inline-block;
    width: 70%;
    margin-bottom: 20px;
}

.icono {
    display: inline-block;
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
    background-color: #0484B9;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    color: #FFFFFF;
}

h2 {
    /* display: inline-block !important; */
    /* float: left; */
    margin: 0 !important;
}

.icono .glyphicon {
    font-size: 30px;
    line-height: 80px;
}
